/*===============================
=            Plugins            =
===============================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-----  End of Plugins  ------*/
/*================================
=            Partials            =
================================*/
div.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }
  div.modal-overlay div.modal-box div.inner-modal {
    opacity: 0;
    position: relative;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    width: 90%;
    height: auto;
    max-width: 920px;
    margin-top: 350px;
    -webkit-transition: 0.3s margin-top ease-in-out, 0.2s opacity ease-in-out;
    -moz-transition: 0.3s margin-top ease-in-out, 0.2s opacity ease-in-out;
    -o-transition: 0.3s margin-top ease-in-out, 0.2s opacity ease-in-out;
    transition: 0.3s margin-top ease-in-out, 0.2s opacity ease-in-out; }
    @media screen and (max-width: 500px) {
      div.modal-overlay div.modal-box div.inner-modal {
        height: 200px; } }
    div.modal-overlay div.modal-box div.inner-modal .modal-content {
      width: 100%;
      height: 100%;
      min-height: 400px;
      z-index: 99;
      position: relative; }
      div.modal-overlay div.modal-box div.inner-modal .modal-content img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 600px;
        height: auto; }
  div.modal-overlay div.modal-box div.inner-modal.disp {
    opacity: 1;
    margin-top: 0; }

div.modal-overlay.disp {
  opacity: 1; }

/*-----  End of Partials  ------*/
/*==================================
=            Public CSS            =
==================================*/
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #f1f1f1; }

.table {
  display: table;
  height: 100%;
  width: 100%;
  background: transparent; }

.table-cell {
  display: table-cell;
  vertical-align: middle; }

.modal-btn {
  width: 200px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
  border: 1px solid #363636;
  color: #363636;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out; }
  .modal-btn:hover {
    background: #363636;
    color: #f1f1f1; }

/*-----  End of Public CSS  ------*/

/*# sourceMappingURL=style.css.map */
